@import "https://fonts.cdnfonts.com/css/bagel-fat-one";
@import "tailwindcss";
.sigmar{
font-family: 'Bagel Fat One', sans-serif;

}
body {
  min-height: 100vh;
  background: radial-gradient(
    circle at top,
    #f8f1f3 0%,
    #fac1ca 45%,
    #f3ceba 75%,
    #f59b6e 100%
  );
}
.cartbg{
  background: radial-gradient(
   circle at top,
    #f8f1f3 0%,
    #fac1ca 45%,
    #f3ceba 75%,
    #f59b6e 100%
  );
}
/* Custom Scrollbar for Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 12px;           /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f3f3f3;   /* track background */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #f393a1; /* thumb color */
  border-radius: 8px;
  border: 3px solid #f3f3f3; /* gives space around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b45309; /* hover color */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #f393a1 #f3f3f3;
}


/* :root { */
  /* --background: #ffffff; */
  /* --foreground: #171717; */
/* } */
/*  */
/* @theme inline { */
  /* --color-background: var(--background); */
  /* --color-foreground: var(--foreground); */
  /* --font-sans: var(--font-geist-sans); */
  /* --font-mono: var(--font-geist-mono); */
/* } */
/*  */
/* @media (prefers-color-scheme: dark) { */
  /* :root { */
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  /* } */
/* } */
/*  */
/* body { */
  /* background: var(--background); */
  /* color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
/* } */
